body {
    
    background-color: black;
    color: #FFFFFF;
}

#signup{
    width: 100px;
    height: 30px;
    left: 202px;
    top: 154px;
    background-color: #FFFFFF;
}

#Line1{
    width: 50%;
    margin-left: 0;
}